.home-footer {
    position: relative;
    background-color: rgba(255, 255, 255, 0.726);
    text-align: center;
    top: -86px;
    padding: 20px 0;
    h3 {
        font-weight: 400;
        font-size: 2rem;
    }
}