.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 0 150px 0 100px;

    &_logo {
        display: flex;
        align-items: center;

        h1 {
            position: relative;
            right: 15px;
            font-size: 2rem;
        }
    }
        


        &_links--item{
            list-style: none;
            font-size: 1.2rem;
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: rgb(38, 202, 1);
                font-size: 1.3rem;
                transition-duration: .1s;
            }
    }
    &_link {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

}

.agro-img {
    width: 130px;
    height: 105px;
}

@media only screen and (max-width: 600px) {
    .home-nav {


        &_logo {
            position: relative;
            left: -80px;

            h1 {

                font-size: 1.6rem;
            }

        }

        &_links--item {
            position: relative;
            right: -50px;
        }
        transition: 2s;
    }

    .agro-img {
        width: 100px;
        height: 80px;
    }

}