.farmers-Nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 25px 0;
    padding-right: 100px;
    background-color: white;

    &--items {
        font-size: 1.2rem;
        color: black;
        font-weight: 500;
        text-decoration: none;
        margin: 0 15px;

        &:hover {
            text-decoration: underline;
            color: rgb(0, 136, 0);
        }
    }
}
@media (max-width: 991.98px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      display: none;
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: #fff;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  
    .navbar-collapse.show {
      display: block;
    }
  }
  