.farmers-Nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 25px 0;
    padding-right: 100px;
    background-color: white;

    &--items {
        font-size: 1.2rem;
        color: black;
        font-weight: 500;
        text-decoration: none;
        margin: 0 15px;

        &:hover {
            text-decoration: underline;
            color: rgb(0, 136, 0);
        }
    }
}